<!DOCTYPE html>
<html lang="en">
<script type="text/javascript">

</script>
<head>
    <meta charset="UTF-8">
    <title>J Cheah CS3002 project</title>
</head>
<body>
<h1>
    J Cheah CS3002 project
</h1>
<form action="/training-ims"><button type="submit">Training Set</button></form>
<form action="/testing-ims"><button type="submit">Testing Set</button></form>
<form action="/upload-ims"><button type="submit">Upload Image</button></form>
<form action="/train_test"><button type="submit">Test from dataset</button></form>

</body>
</html>